<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    <title>Рабочий процесс построения контейнера &mdash; Symfony Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../../_static/" type="text/css">
    <link rel="stylesheet" href="..\..\_static\pygments.css" type="text/css">
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <link rel="top" title="Symfony Framework Documentation  documentation" href="..\..\index.html">
    <link rel="up" title="The DependencyInjection Component" href="..\dependency_injection.html">
    <link rel="next" title="Компонент DependencyInjection (внедрение зависимости)" href="../dependency_injection-ru.html">
    <link rel="prev" title="Container Building Workflow" href="workflow.html">

<link rel="stylesheet" href="..\..\_assets\app.css?v=8d6d457a0820d7c245bddae16bfd4c75">
<script src="..\..\_assets\manifest.js?v=d41d8cd98f00b204e980"></script>
<script src="..\..\_assets\app.js?v=900984040c7cb4dca514"></script>
<style>
    .header__top .container {
        overflow: hidden;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .header__top .header__logo {
        float: left;
    }
    .header__top .header__support {
        float: right;
    }

    .highlight .k, .highlight .gh, .highlight .gp,
    .highlight .gu, .highlight .kc, .highlight .kd,
    .highlight .kn, .highlight .kr, .highlight .nc,
    .highlight .nd, .highlight .ni, .highlight .nl,
    .highlight .nn, .highlight .nt, .highlight .ow,
    .highlight .se { font-weight: normal; }

    .highlight .c, .highlight .cm, .highlight .c1,
    .highlight .sd, .highlight .si { font-style: normal; }

    .doc { background: none; }
    #demo-warning {
        border: 3px dashed #c00;
        padding: 10px;
        margin-bottom: 30px;
    }
    #demo-warning h4 { font-size: 1.7em;font-weight: bold; }
    #demo-warning p { margin-bottom: 0; }
</style>

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-107764519-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-107764519-1');
</script>

<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '250281335689441');
    fbq('track', 'PageView');
</script>
<img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=250281335689441&ev=PageView&noscript=1">
<!-- End Facebook Pixel Code -->

<script type="text/javascript">!function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src="https://vk.com/js/api/openapi.js?159",t.onload=function(){VK.Retargeting.Init("VK-RTRG-279161-8p6Jv"),VK.Retargeting.Hit()},document.head.appendChild(t)}();</script><img src="https://vk.com/rtrg?p=VK-RTRG-279161-8p6Jv" style="position:fixed; left:-999px;" alt="">


  </head>
  <body role="document">

<body class="components doc_article doc">

<header>
    <section class="header__top">
        <div class="container">
            <div class="header__logo">
                <a href="..\..\..\..\index.html">
                    <img src="..\..\..\..\_images\header-logo.svg" alt="Symfony.com.ua logo">
                </a>
            </div>
            <div class="header__support hidden-xs">
                <a href="http://playtini.ua/" title="Компания Playtini">
                    <img height="69" src="..\..\..\..\_images\support.png" alt="Symfony is a SensioLabs product">
                </a>
            </div>
        </div>
    </section>
</header>

<div class="container"><div id="page-content">
    <div class="row">
        <div id="sidebar" class="col-sm-3">
            <div id="sidebar-content"><div class="submenu">
    
    
    <ul class="list_submenu list-unstyled">
    
        <li class="first">
            <a href="..\..\index.html">Главная</a>
        </li>
    
        <li>
            <a href="..\index.html">Компоненты</a>
        </li>
    
        <li>
            <a href="..\..\best_practices\index.html">Лучшие практики</a>
        </li>
    
        <li>
            <a href="..\..\quick_tour\index.html">Быстрый старт</a>
        </li>
    
        <li>
            <a href="..\..\reference\index.html">Справочник</a>
        </li>
    
        <li>
            <a href="..\..\genindex.html">Индекс</a>
        </li>
    
        <li>
            <a href="..\..\contributing\index.html">Участие</a>
        </li>
    
    </ul>
</div>

                <div class="toc"> 
    <h4>Содержание</h4>
    <div class="toc-content">
        <ul>
<li><a class="reference internal" href="#">Рабочий процесс построения контейнера</a><ul>
<li><a class="reference internal" href="#id2">Работа с кешированным контейнером</a></li>
<li><a class="reference internal" href="#id3">Конфигурация на уровне приложения</a></li>
<li><a class="reference internal" href="#id4">Конфигурация на уровне пакетов с расширениями</a></li>
<li><a class="reference internal" href="#compiler">Передачи Compiler для позволения взаимодействия между пакетами</a></li>
<li><a class="reference internal" href="#id5">Компиляция и кеширование</a></li>
</ul>
</li>
</ul>

    </div>
</div>
                
            </div>

            <div class="ads m-b-30">
                <h2>Вакансии Playtini</h2>
                <div class="ad m-b-15">
                    <h3>
                        <a href="http://playtini.ua/careers/php-dev">
                            Middle+ PHP Developer/Symfony
                        </a>
                    </h3>
                    <div><b>Playtini</b> активно поддерживает и развивает свои продукты, и профессионализм команды. И на данный момент в поиске специалиста на позицию <b>«Middle+ PHP Developer/Symfony»,</b> который улучшит качество внутренних сервисов компании и увеличит их количество.</div>
                </div>
                <!--
                <div class="ad m-b-15">
                    <h3>
                        <a href="http://playtini.ua/careers/symfony-senior">
                            Senior PHP Developer/Symfony
                        </a>
                    </h3>
                    <div>We are looking for strong, experienced <b>Senior PHP Developer/Symfony.</b> We expect him/her to participate in improving and extending a system built using microservice architecture by means of modern technologies.</div>
                </div>
                -->
                <div class="ad">
                    <h3><a href="http://playtini.ua/careers">
                        Остальные вакансии компании
                        <img src="..\..\..\..\_images\logo-playtini.png" alt="Playtini">
                    </a></h3>
                </div>
            </div>
        </div>

        <div id="main" class="col-sm-9">
            <ol class="breadcrumb">
                
                <li><a href="..\..\index.html">Документация</a></li>
                
                <li><a href="..\index.html">The Components</a></li>
                
                <li><a href="..\dependency_injection.html">The DependencyInjection Component</a></li>
                
                <li class="active">Рабочий процесс построения контейнера</li>
            </ol>

            <div class="page">
                
  <div class="section" id="index-0">
<span id="id1"></span><h1>Рабочий процесс построения контейнера<a class="headerlink" href="#index-0" title="Permalink to this headline">¶</a></h1>
<p>Расположение файлов и классов, связанных с компонентом Dependency Injection
зависит от приложения, библиотеки или фреймворка, в котором вы хотите использовать
контейнер. Если вы рассмотрите то, как построен и сконфигурирован контейнер в
комплексном фреймворке Symfony, то вы увидите, как это всё взаимосвязано, независимо
от того, используете вы комплексный фреймворк или планируете использовать сервис-контейнер
в другом приложении.</p>
<p>Комплексный фреймворк использует компонент HttpKernel для управления загрузкой
конфигурации сервис-контейнера из приложения и пакетов, а также обрабатывает
компиляцию и кеширование. Даже если вы не используете HttpKernel, то это должно
дать вам понимание одного из способов организации конфигурации в модульном
приложении.</p>
<div class="section" id="id2">
<h2>Работа с кешированным контейнером<a class="headerlink" href="#id2" title="Permalink to this headline">¶</a></h2>
<p>До того, как начать построение, ядро проверяет, существует ли кешированная
версия контейнера. HttpKernel имеет настройку отладки, и если она &quot;false&quot;,
то используется кешированная версия, если она существует. Если отладка &quot;true&quot;,
то ядро <a class="reference internal" href="..\config\caching.html"><em>проверяет актуальность конфигурации</em></a>,
и если всё хорошо, то используется кешированная версия контейнера. Если же нет,
то контейнер строится из конфигурации на уровне приложения и конфигурации расширений
пакета.</p>
<p>Прочтите <a class="reference internal" href="compilation.html#components-dependency-injection-dumping"><span>Сброс конфигурации для производительности</span></a>,
чтобы узнать больше.</p>
</div>
<div class="section" id="id3">
<h2>Конфигурация на уровне приложения<a class="headerlink" href="#id3" title="Permalink to this headline">¶</a></h2>
<p>Конфигурация на уровне приложения загружается из каталога <tt class="docutils literal"><code>config</code></tt>. Загружается
множество файлов, которые потом объединяются при обработке расширений. Это позволяет
использовать разные конфигурации для разных окружений, к примеру, dev, prod.</p>
<p>Эти файлы содержат параметры и сервисы, которые загружаются напрямую в контейнер на
основании
<a class="reference internal" href="..\dependency_injection.html#components-dependency-injection-loading-config"><span>Настройки контейнера с файлами конфигурции</span></a>.
Они также содержат конфигурацию, которая обрабатывается расширениями на основании
<a class="reference internal" href="compilation.html#components-dependency-injection-extension"><span>Управления конфигурацией с расширениями</span></a>.
Это считается пакетной конфигурацией, так как каждый пакет содержит класс Extension.</p>
</div>
<div class="section" id="id4">
<h2>Конфигурация на уровне пакетов с расширениями<a class="headerlink" href="#id4" title="Permalink to this headline">¶</a></h2>
<p>По соглашеию, каждый пакет содержит класс Extension, который находится в каталоге пакета
<tt class="docutils literal"><code>DependencyInjection</code></tt>. Они регистрируются в <tt class="docutils literal"><code>ContainerBuilder</code></tt> при загрузке ядра. Когда
<a class="reference internal" href="compilation.html"><em>компилируется</em></a> <tt class="docutils literal"><code>ContainerBuilder</code></tt>,
конфигурация на уровне приложения, связнная с расширением пакета, передаётся расширению,
которое обычно загружает собственный(е) файл(ы) конфигурации, обычно из каталога пакета
<tt class="docutils literal"><code>Resources/config</code></tt>. Конфигурация на уровне приложения обычно обрабатывается
<a class="reference internal" href="..\config\definition.html"><em>объектом Configuration</em></a> и также хранится в каталоге
пакета <tt class="docutils literal"><code>DependencyInjection</code></tt>.</p>
</div>
<div class="section" id="compiler">
<h2>Передачи Compiler для позволения взаимодействия между пакетами<a class="headerlink" href="#compiler" title="Permalink to this headline">¶</a></h2>
<p><a class="reference internal" href="compilation.html#components-dependency-injection-compiler-passes"><span>Передачи Compiler</span></a>
используются для позволения взаимодействия между разными пакетами, так как они
не могут повлиять на конфигурацию друг друга в существующих классах. Основными
способами применения являются обработка тегированных сервисов, позволение пакетам
регистрировать сервисы, которые подхватят другие пакеты, вроде логгеров Monolog,
расширений Twig, сборщиков данных для Web Profiler. Передачи Compiler обычно размешаются
в каталоге пакета <tt class="docutils literal"><code>DependencyInjection/Compiler</code></tt>.</p>
</div>
<div class="section" id="id5">
<h2>Компиляция и кеширование<a class="headerlink" href="#id5" title="Permalink to this headline">¶</a></h2>
<p>После того, как процесс компиляции загрузил сервисы из конфигурации, расширений
и передач компилятора, он сбрасывается для того, чтобы кеш можно было использовать
в следующий раз. Сброшенная версия потом используется во время последующих запросов,
так как это более эффективно.</p>
</div>
</div>


            </div>

            
            <div class="navigation">
                <a href="workflow.html">« Container Building Workflow</a>
                <span class="separator">|</span>
                <a href="../dependency_injection-ru.html">Компонент DependencyInjection (внедрение зависимости) »</a>
            </div>
            

            <div id="license">
                <p>Эта документация является переводом <a href="http://symfony.com/doc/current/index.html">официальной документации Symfony</a> и предоставляется по свободной лицензии <a rel="license nofollow" href="https://creativecommons.org/licenses/by-sa/3.0/deed.ru">CC BY-SA 3.0</a>.</p>
            </div>
        </div>
    </div>
</div></div>


  </body>
</body></html>