<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    <title>Понимание работы с аргументами и опциями консоли &mdash; Symfony Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../../_static/" type="text/css">
    <link rel="stylesheet" href="..\..\_static\pygments.css" type="text/css">
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <link rel="top" title="Symfony Framework Documentation  documentation" href="..\..\index.html">
    <link rel="up" title="The Console Component" href="..\console.html">
    <link rel="next" title="Using Events" href="events.html">
    <link rel="prev" title="Understanding how Console Arguments and Options Are Handled" href="console_arguments.html">

<link rel="stylesheet" href="..\..\_assets\app.css?v=8d6d457a0820d7c245bddae16bfd4c75">
<script src="..\..\_assets\manifest.js?v=d41d8cd98f00b204e980"></script>
<script src="..\..\_assets\app.js?v=900984040c7cb4dca514"></script>
<style>
    .header__top .container {
        overflow: hidden;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .header__top .header__logo {
        float: left;
    }
    .header__top .header__support {
        float: right;
    }

    .highlight .k, .highlight .gh, .highlight .gp,
    .highlight .gu, .highlight .kc, .highlight .kd,
    .highlight .kn, .highlight .kr, .highlight .nc,
    .highlight .nd, .highlight .ni, .highlight .nl,
    .highlight .nn, .highlight .nt, .highlight .ow,
    .highlight .se { font-weight: normal; }

    .highlight .c, .highlight .cm, .highlight .c1,
    .highlight .sd, .highlight .si { font-style: normal; }

    .doc { background: none; }
    #demo-warning {
        border: 3px dashed #c00;
        padding: 10px;
        margin-bottom: 30px;
    }
    #demo-warning h4 { font-size: 1.7em;font-weight: bold; }
    #demo-warning p { margin-bottom: 0; }
</style>

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-107764519-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-107764519-1');
</script>

<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '250281335689441');
    fbq('track', 'PageView');
</script>
<img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=250281335689441&ev=PageView&noscript=1">
<!-- End Facebook Pixel Code -->

<script type="text/javascript">!function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src="https://vk.com/js/api/openapi.js?159",t.onload=function(){VK.Retargeting.Init("VK-RTRG-279161-8p6Jv"),VK.Retargeting.Hit()},document.head.appendChild(t)}();</script><img src="https://vk.com/rtrg?p=VK-RTRG-279161-8p6Jv" style="position:fixed; left:-999px;" alt="">


  </head>
  <body role="document">

<body class="components doc_article doc">

<header>
    <section class="header__top">
        <div class="container">
            <div class="header__logo">
                <a href="..\..\..\..\index.html">
                    <img src="..\..\..\..\_images\header-logo.svg" alt="Symfony.com.ua logo">
                </a>
            </div>
            <div class="header__support hidden-xs">
                <a href="http://playtini.ua/" title="Компания Playtini">
                    <img height="69" src="..\..\..\..\_images\support.png" alt="Symfony is a SensioLabs product">
                </a>
            </div>
        </div>
    </section>
</header>

<div class="container"><div id="page-content">
    <div class="row">
        <div id="sidebar" class="col-sm-3">
            <div id="sidebar-content"><div class="submenu">
    
    
    <ul class="list_submenu list-unstyled">
    
        <li class="first">
            <a href="..\..\index.html">Главная</a>
        </li>
    
        <li>
            <a href="..\index.html">Компоненты</a>
        </li>
    
        <li>
            <a href="..\..\best_practices\index.html">Лучшие практики</a>
        </li>
    
        <li>
            <a href="..\..\quick_tour\index.html">Быстрый старт</a>
        </li>
    
        <li>
            <a href="..\..\reference\index.html">Справочник</a>
        </li>
    
        <li>
            <a href="..\..\genindex.html">Индекс</a>
        </li>
    
        <li>
            <a href="..\..\contributing\index.html">Участие</a>
        </li>
    
    </ul>
</div>

                <div class="toc"> 
    <h4>Содержание</h4>
    <div class="toc-content">
        <ul>
<li><a class="reference internal" href="#">Понимание работы с аргументами и опциями консоли</a></li>
</ul>

    </div>
</div>
                
            </div>

            <div class="ads m-b-30">
                <h2>Вакансии Playtini</h2>
                <div class="ad m-b-15">
                    <h3>
                        <a href="http://playtini.ua/careers/php-dev">
                            Middle+ PHP Developer/Symfony
                        </a>
                    </h3>
                    <div><b>Playtini</b> активно поддерживает и развивает свои продукты, и профессионализм команды. И на данный момент в поиске специалиста на позицию <b>«Middle+ PHP Developer/Symfony»,</b> который улучшит качество внутренних сервисов компании и увеличит их количество.</div>
                </div>
                <!--
                <div class="ad m-b-15">
                    <h3>
                        <a href="http://playtini.ua/careers/symfony-senior">
                            Senior PHP Developer/Symfony
                        </a>
                    </h3>
                    <div>We are looking for strong, experienced <b>Senior PHP Developer/Symfony.</b> We expect him/her to participate in improving and extending a system built using microservice architecture by means of modern technologies.</div>
                </div>
                -->
                <div class="ad">
                    <h3><a href="http://playtini.ua/careers">
                        Остальные вакансии компании
                        <img src="..\..\..\..\_images\logo-playtini.png" alt="Playtini">
                    </a></h3>
                </div>
            </div>
        </div>

        <div id="main" class="col-sm-9">
            <ol class="breadcrumb">
                
                <li><a href="..\..\index.html">Документация</a></li>
                
                <li><a href="..\index.html">The Components</a></li>
                
                <li><a href="..\console.html">The Console Component</a></li>
                
                <li class="active">Понимание работы с аргументами и опциями консоли</li>
            </ol>

            <div class="page">
                
  <div class="section" id="index-0">
<span id="id1"></span><h1>Понимание работы с аргументами и опциями консоли<a class="headerlink" href="#index-0" title="Permalink to this headline">¶</a></h1>
<p>Приложения Symfony Console следуют тому же стандарту <a class="reference external" href="http://docopt.org/">docopt</a>, который
используется в большинстве утилит CLI. Эта статья объявняет, как работать
с пограничными случаями, когда команды определяют опции с требуемыми значениями,
без значений и т.д. Прочтите <a class="reference internal" href="..\..\console\input.html"><em>другую статью</em></a>, чтобы
узнать об использовании аргументов и опций внутри команд Symfony Console.</p>
<p>Посмотрите не следующую команду, которая имеет три опции:</p>
<div class="literal-block"><div class="highlight-php"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="k">namespace</span> <span class="nx">Acme\Console\Command</span><span class="p">;</span>

<span class="k">use</span> <span class="nx">Symfony\Component\Console\Command\Command</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Console\Input\InputArgument</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Console\Input\InputDefinition</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Console\Input\InputInterface</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Console\Input\InputOption</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Console\Output\OutputInterface</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">DemoArgsCommand</span> <span class="k">extends</span> <span class="nx">Command</span>
<span class="p">{</span>
    <span class="k">protected</span> <span class="k">function</span> <span class="nf">configure</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="nv">$this</span>
            <span class="o">-&gt;</span><span class="na">setName</span><span class="p">(</span><span class="s1">&#39;demo:args&#39;</span><span class="p">)</span>
            <span class="o">-&gt;</span><span class="na">setDescription</span><span class="p">(</span><span class="s1">&#39;Describe args behaviors&#39;</span><span class="p">)</span>
            <span class="o">-&gt;</span><span class="na">setDefinition</span><span class="p">(</span>
                <span class="k">new</span> <span class="nx">InputDefinition</span><span class="p">(</span><span class="k">array</span><span class="p">(</span>
                    <span class="k">new</span> <span class="nx">InputOption</span><span class="p">(</span><span class="s1">&#39;foo&#39;</span><span class="p">,</span> <span class="s1">&#39;f&#39;</span><span class="p">),</span>
                    <span class="k">new</span> <span class="nx">InputOption</span><span class="p">(</span><span class="s1">&#39;bar&#39;</span><span class="p">,</span> <span class="s1">&#39;b&#39;</span><span class="p">,</span> <span class="nx">InputOption</span><span class="o">::</span><span class="na">VALUE_REQUIRED</span><span class="p">),</span>
                    <span class="k">new</span> <span class="nx">InputOption</span><span class="p">(</span><span class="s1">&#39;cat&#39;</span><span class="p">,</span> <span class="s1">&#39;c&#39;</span><span class="p">,</span> <span class="nx">InputOption</span><span class="o">::</span><span class="na">VALUE_OPTIONAL</span><span class="p">),</span>
                <span class="p">))</span>
            <span class="p">);</span>
    <span class="p">}</span>

    <span class="k">protected</span> <span class="k">function</span> <span class="nf">execute</span><span class="p">(</span><span class="nx">InputInterface</span> <span class="nv">$input</span><span class="p">,</span> <span class="nx">OutputInterface</span> <span class="nv">$output</span><span class="p">)</span>
    <span class="p">{</span>
       <span class="c1">// ...</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</td></tr></table></div></div>
<p>Так как опция <tt class="docutils literal"><code>foo</code></tt> не принимает значение, она будет либо <tt class="docutils literal"><code>false</code></tt> (если
она не передана команде), либо <tt class="docutils literal"><code>true</code></tt> (если пользователь передал <tt class="docutils literal"><code>--foo</code></tt>).
Значение опции <tt class="docutils literal"><code>bar</code></tt> (и соответственно её ярлыка <tt class="docutils literal"><code>b</code></tt>) является обязательным.
Оно может быть отделено от имени опции либо пробелами, либо символами <tt class="docutils literal"><code>=</code></tt>.
Опция <tt class="docutils literal"><code>cat</code></tt> (и её ярлык <tt class="docutils literal"><code>c</code></tt>) ведёт себя также, кроме того, что она не требует
значения. Изучите следующую таблицу, чтобы получить представление о возможных
способах передачи опций:</p>
<table border="1" class="docutils">
<colgroup>
<col width="39%">
<col width="17%">
<col width="22%">
<col width="22%">
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Ввод</th>
<th class="head"><tt class="docutils literal"><code>foo</code></tt></th>
<th class="head"><tt class="docutils literal"><code>bar</code></tt></th>
<th class="head"><tt class="docutils literal"><code>cat</code></tt></th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td><tt class="docutils literal"><code>--bar=Hello</code></tt></td>
<td><tt class="docutils literal"><code>false</code></tt></td>
<td><tt class="docutils literal"><code>&quot;Hello&quot;</code></tt></td>
<td><tt class="docutils literal"><code>null</code></tt></td>
</tr>
<tr class="row-odd"><td><tt class="docutils literal"><code>--bar Hello</code></tt></td>
<td><tt class="docutils literal"><code>false</code></tt></td>
<td><tt class="docutils literal"><code>&quot;Hello&quot;</code></tt></td>
<td><tt class="docutils literal"><code>null</code></tt></td>
</tr>
<tr class="row-even"><td><tt class="docutils literal"><code>-b=Hello</code></tt></td>
<td><tt class="docutils literal"><code>false</code></tt></td>
<td><tt class="docutils literal"><code>&quot;=Hello&quot;</code></tt></td>
<td><tt class="docutils literal"><code>null</code></tt></td>
</tr>
<tr class="row-odd"><td><tt class="docutils literal"><code>-b Hello</code></tt></td>
<td><tt class="docutils literal"><code>false</code></tt></td>
<td><tt class="docutils literal"><code>&quot;Hello&quot;</code></tt></td>
<td><tt class="docutils literal"><code>null</code></tt></td>
</tr>
<tr class="row-even"><td><tt class="docutils literal"><code>-bHello</code></tt></td>
<td><tt class="docutils literal"><code>false</code></tt></td>
<td><tt class="docutils literal"><code>&quot;Hello&quot;</code></tt></td>
<td><tt class="docutils literal"><code>null</code></tt></td>
</tr>
<tr class="row-odd"><td><tt class="docutils literal"><code>-fcWorld -b Hello</code></tt></td>
<td><tt class="docutils literal"><code>true</code></tt></td>
<td><tt class="docutils literal"><code>&quot;Hello&quot;</code></tt></td>
<td><tt class="docutils literal"><code>&quot;World&quot;</code></tt></td>
</tr>
<tr class="row-even"><td><tt class="docutils literal"><code>-cfWorld -b Hello</code></tt></td>
<td><tt class="docutils literal"><code>false</code></tt></td>
<td><tt class="docutils literal"><code>&quot;Hello&quot;</code></tt></td>
<td><tt class="docutils literal"><code>&quot;fWorld&quot;</code></tt></td>
</tr>
<tr class="row-odd"><td><tt class="docutils literal"><code>-cbWorld</code></tt></td>
<td><tt class="docutils literal"><code>false</code></tt></td>
<td><tt class="docutils literal"><code>null</code></tt></td>
<td><tt class="docutils literal"><code>&quot;bWorld&quot;</code></tt></td>
</tr>
</tbody>
</table>
<p>Всё становится немного сложнее, когда команда также принимает необязательный
аргумент:</p>
<div class="literal-block"><div class="highlight-php"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2
3
4
5
6</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="c1">// ...</span>

<span class="k">new</span> <span class="nx">InputDefinition</span><span class="p">(</span><span class="k">array</span><span class="p">(</span>
    <span class="c1">// ...</span>
    <span class="k">new</span> <span class="nx">InputArgument</span><span class="p">(</span><span class="s1">&#39;arg&#39;</span><span class="p">,</span> <span class="nx">InputArgument</span><span class="o">::</span><span class="na">OPTIONAL</span><span class="p">),</span>
<span class="p">));</span>
</pre></div>
</td></tr></table></div></div>
<p>Вам может понадобиться использовать специальный разделитель <tt class="docutils literal"><code>--</code></tt>, чтобы
отделить опции от аргументов. Посмотрите на пятый пример в таблице ниже,
где он используется для того, чтобы сообщеить команде, что <tt class="docutils literal"><code>World</code></tt> является
значением для <tt class="docutils literal"><code>arg</code></tt>, а не значением необязательной опции <tt class="docutils literal"><code>cat</code></tt>:</p>
<table border="1" class="docutils">
<colgroup>
<col width="43%">
<col width="25%">
<col width="16%">
<col width="16%">
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Ввод</th>
<th class="head"><tt class="docutils literal"><code>bar</code></tt></th>
<th class="head"><tt class="docutils literal"><code>cat</code></tt></th>
<th class="head"><tt class="docutils literal"><code>arg</code></tt></th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td><tt class="docutils literal"><code>--bar Hello</code></tt></td>
<td><tt class="docutils literal"><code>&quot;Hello&quot;</code></tt></td>
<td><tt class="docutils literal"><code>null</code></tt></td>
<td><tt class="docutils literal"><code>null</code></tt></td>
</tr>
<tr class="row-odd"><td><tt class="docutils literal"><code>--bar Hello World</code></tt></td>
<td><tt class="docutils literal"><code>&quot;Hello&quot;</code></tt></td>
<td><tt class="docutils literal"><code>null</code></tt></td>
<td><tt class="docutils literal"><code>&quot;World&quot;</code></tt></td>
</tr>
<tr class="row-even"><td><tt class="docutils literal"><code>--bar &quot;Hello World&quot;</code></tt></td>
<td><tt class="docutils literal"><code>&quot;Hello World&quot;</code></tt></td>
<td><tt class="docutils literal"><code>null</code></tt></td>
<td><tt class="docutils literal"><code>null</code></tt></td>
</tr>
<tr class="row-odd"><td><tt class="docutils literal"><code>--bar Hello --cat World</code></tt></td>
<td><tt class="docutils literal"><code>&quot;Hello&quot;</code></tt></td>
<td><tt class="docutils literal"><code>&quot;World&quot;</code></tt></td>
<td><tt class="docutils literal"><code>null</code></tt></td>
</tr>
<tr class="row-even"><td><tt class="docutils literal"><code>--bar Hello --cat -- World</code></tt></td>
<td><tt class="docutils literal"><code>&quot;Hello&quot;</code></tt></td>
<td><tt class="docutils literal"><code>null</code></tt></td>
<td><tt class="docutils literal"><code>&quot;World&quot;</code></tt></td>
</tr>
<tr class="row-odd"><td><tt class="docutils literal"><code>-b Hello -c World</code></tt></td>
<td><tt class="docutils literal"><code>&quot;Hello&quot;</code></tt></td>
<td><tt class="docutils literal"><code>&quot;World&quot;</code></tt></td>
<td><tt class="docutils literal"><code>null</code></tt></td>
</tr>
</tbody>
</table>
</div>


            </div>

            
            <div class="navigation">
                <a href="console_arguments.html">« Understanding how Console Arguments and Options Are Handled</a>
                <span class="separator">|</span>
                <a href="events.html">Using Events »</a>
            </div>
            

            <div id="license">
                <p>Эта документация является переводом <a href="http://symfony.com/doc/current/index.html">официальной документации Symfony</a> и предоставляется по свободной лицензии <a rel="license nofollow" href="https://creativecommons.org/licenses/by-sa/3.0/deed.ru">CC BY-SA 3.0</a>.</p>
            </div>
        </div>
    </div>
</div></div>


  </body>
</body></html>