<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    <title>Компонент Stopwatch &mdash; Symfony Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../_static/" type="text/css">
    <link rel="stylesheet" href="..\_static\pygments.css" type="text/css">
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <link rel="top" title="Symfony Framework Documentation  documentation" href="..\index.html">
    <link rel="up" title="The Components" href="index.html">
    <link rel="next" title="Компонент Templating" href="templating-ru.html">
    <link rel="prev" title="Компонент Serializer" href="serializer-ru.html">

<link rel="stylesheet" href="..\_assets\app.css?v=8d6d457a0820d7c245bddae16bfd4c75">
<script src="..\_assets\manifest.js?v=d41d8cd98f00b204e980"></script>
<script src="..\_assets\app.js?v=900984040c7cb4dca514"></script>
<style>
    .header__top .container {
        overflow: hidden;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .header__top .header__logo {
        float: left;
    }
    .header__top .header__support {
        float: right;
    }

    .highlight .k, .highlight .gh, .highlight .gp,
    .highlight .gu, .highlight .kc, .highlight .kd,
    .highlight .kn, .highlight .kr, .highlight .nc,
    .highlight .nd, .highlight .ni, .highlight .nl,
    .highlight .nn, .highlight .nt, .highlight .ow,
    .highlight .se { font-weight: normal; }

    .highlight .c, .highlight .cm, .highlight .c1,
    .highlight .sd, .highlight .si { font-style: normal; }

    .doc { background: none; }
    #demo-warning {
        border: 3px dashed #c00;
        padding: 10px;
        margin-bottom: 30px;
    }
    #demo-warning h4 { font-size: 1.7em;font-weight: bold; }
    #demo-warning p { margin-bottom: 0; }
</style>

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-107764519-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-107764519-1');
</script>

<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '250281335689441');
    fbq('track', 'PageView');
</script>
<img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=250281335689441&ev=PageView&noscript=1">
<!-- End Facebook Pixel Code -->

<script type="text/javascript">!function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src="https://vk.com/js/api/openapi.js?159",t.onload=function(){VK.Retargeting.Init("VK-RTRG-279161-8p6Jv"),VK.Retargeting.Hit()},document.head.appendChild(t)}();</script><img src="https://vk.com/rtrg?p=VK-RTRG-279161-8p6Jv" style="position:fixed; left:-999px;" alt="">


  </head>
  <body role="document">

<body class="components doc_article doc">

<header>
    <section class="header__top">
        <div class="container">
            <div class="header__logo">
                <a href="..\..\..\index.html">
                    <img src="..\..\..\_images\header-logo.svg" alt="Symfony.com.ua logo">
                </a>
            </div>
            <div class="header__support hidden-xs">
                <a href="http://playtini.ua/" title="Компания Playtini">
                    <img height="69" src="..\..\..\_images\support.png" alt="Symfony is a SensioLabs product">
                </a>
            </div>
        </div>
    </section>
</header>

<div class="container"><div id="page-content">
    <div class="row">
        <div id="sidebar" class="col-sm-3">
            <div id="sidebar-content"><div class="submenu">
    
    
    <ul class="list_submenu list-unstyled">
    
        <li class="first">
            <a href="..\index.html">Главная</a>
        </li>
    
        <li>
            <a href="index.html">Компоненты</a>
        </li>
    
        <li>
            <a href="..\best_practices\index.html">Лучшие практики</a>
        </li>
    
        <li>
            <a href="..\quick_tour\index.html">Быстрый старт</a>
        </li>
    
        <li>
            <a href="..\reference\index.html">Справочник</a>
        </li>
    
        <li>
            <a href="..\genindex.html">Индекс</a>
        </li>
    
        <li>
            <a href="..\contributing\index.html">Участие</a>
        </li>
    
    </ul>
</div>

                <div class="toc"> 
    <h4>Содержание</h4>
    <div class="toc-content">
        <ul>
<li><a class="reference internal" href="#">Компонент Stopwatch</a><ul>
<li><a class="reference internal" href="#id1">Установка</a></li>
<li><a class="reference internal" href="#id2">Использование</a></li>
<li><a class="reference internal" href="#id3">Периоды</a></li>
<li><a class="reference internal" href="#id4">Разделы</a></li>
</ul>
</li>
</ul>

    </div>
</div>
                
            </div>

            <div class="ads m-b-30">
                <h2>Вакансии Playtini</h2>
                <div class="ad m-b-15">
                    <h3>
                        <a href="http://playtini.ua/careers/php-dev">
                            Middle+ PHP Developer/Symfony
                        </a>
                    </h3>
                    <div><b>Playtini</b> активно поддерживает и развивает свои продукты, и профессионализм команды. И на данный момент в поиске специалиста на позицию <b>«Middle+ PHP Developer/Symfony»,</b> который улучшит качество внутренних сервисов компании и увеличит их количество.</div>
                </div>
                <!--
                <div class="ad m-b-15">
                    <h3>
                        <a href="http://playtini.ua/careers/symfony-senior">
                            Senior PHP Developer/Symfony
                        </a>
                    </h3>
                    <div>We are looking for strong, experienced <b>Senior PHP Developer/Symfony.</b> We expect him/her to participate in improving and extending a system built using microservice architecture by means of modern technologies.</div>
                </div>
                -->
                <div class="ad">
                    <h3><a href="http://playtini.ua/careers">
                        Остальные вакансии компании
                        <img src="..\..\..\_images\logo-playtini.png" alt="Playtini">
                    </a></h3>
                </div>
            </div>
        </div>

        <div id="main" class="col-sm-9">
            <ol class="breadcrumb">
                
                <li><a href="..\index.html">Документация</a></li>
                
                <li><a href="index.html">The Components</a></li>
                
                <li class="active">Компонент Stopwatch</li>
            </ol>

            <div class="page">
                
  <div class="section" id="stopwatch">
<span id="index-0"></span><h1>Компонент Stopwatch<a class="headerlink" href="#stopwatch" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div>Компонент Stopwatch предоставляет способ профилировать код.</div></blockquote>
<div class="section" id="id1">
<h2>Установка<a class="headerlink" href="#id1" title="Permalink to this headline">¶</a></h2>
<div class="literal-block"><div class="highlight-terminal"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="gp">$</span> composer require symfony/stopwatch
</pre></div>
</td></tr></table></div></div>
<p>Также вы можете клонировать репозиторий <a class="reference external" href="https://github.com/symfony/stopwatch">https://github.com/symfony/stopwatch</a>.</p>
<div class="admonition-wrapper">
<div class="note"></div><div class="admonition admonition-note"><p class="first admonition-title">Note</p>
<p class="last">If you install this component outside of a Symfony application, you must
require the <tt class="docutils literal"><code>vendor/autoload.php</code></tt> file in your code to enable the class
autoloading mechanism provided by Composer. Read
<a class="reference internal" href="using_components.html"><em>this article</em></a> for more details.</p>
</div></div>
</div>
<div class="section" id="id2">
<h2>Использование<a class="headerlink" href="#id2" title="Permalink to this headline">¶</a></h2>
<p>Компонент Stopwatch предоставляет простой и слаженный способ измерять время
выполнения определённых частей кода, чтобы вы постоянно не анализировали микровремя
самостоятельно. Вместо этого, используйте простой класс
<tt class="docutils literal"><code><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Stopwatch/Stopwatch.html" title="Symfony\Component\Stopwatch\Stopwatch">Stopwatch</a></code></tt>:</p>
<div class="literal-block"><div class="highlight-php"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2
3
4
5
6
7</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="k">use</span> <span class="nx">Symfony\Component\Stopwatch\Stopwatch</span><span class="p">;</span>

<span class="nv">$stopwatch</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Stopwatch</span><span class="p">();</span>
<span class="c1">// начинает событие, названное &#39;eventName&#39;</span>
<span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">start</span><span class="p">(</span><span class="s1">&#39;eventName&#39;</span><span class="p">);</span>
<span class="c1">// ... здесь будет какой-то код</span>
<span class="nv">$event</span> <span class="o">=</span> <span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">stop</span><span class="p">(</span><span class="s1">&#39;eventName&#39;</span><span class="p">);</span>
</pre></div>
</td></tr></table></div></div>
<p>Объект <tt class="docutils literal"><code><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Stopwatch/StopwatchEvent.html" title="Symfony\Component\Stopwatch\StopwatchEvent">StopwatchEvent</a></code></tt> можно извлечь
из методов <tt class="docutils literal"><code><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Stopwatch/Stopwatch.html#method_start" title="Symfony\Component\Stopwatch\Stopwatch::start()">start()</a></code></tt>,
<tt class="docutils literal"><code><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Stopwatch/Stopwatch.html#method_stop" title="Symfony\Component\Stopwatch\Stopwatch::stop()">stop()</a></code></tt>,
<tt class="docutils literal"><code><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Stopwatch/Stopwatch.html#method_lap" title="Symfony\Component\Stopwatch\Stopwatch::lap()">lap()</a></code></tt> и
<tt class="docutils literal"><code><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Stopwatch/Stopwatch.html#method_getEvent" title="Symfony\Component\Stopwatch\Stopwatch::getEvent()">getEvent()</a></code></tt>. Последний
стоит использовать, когда вам нужно извлечь длительность события, пока оно
ещё идёт.</p>
<div class="admonition-wrapper">
<div class="tip"></div><div class="admonition admonition-tip"><p class="first admonition-title">Tip</p>
<p>По умолчанию, секундомер урезает любую меру времени в подмиллисекундах до
<tt class="docutils literal"><code>0</code></tt>, так что вы не можете измерять в микросекундах или наносекундах. Если
вам нужна большая точность, передайте <tt class="docutils literal"><code>true</code></tt> конструктору класса <tt class="docutils literal"><code>Stopwatch</code></tt>,
чтобы включить полную точность:</p>
<div class="literal-block"><div class="last highlight-php"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="nv">$stopwatch</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Stopwatch</span><span class="p">(</span><span class="k">true</span><span class="p">);</span>
</pre></div>
</td></tr></table></div></div>
</div></div>
<p>Stopwatch может быть сброшен в своё исходное состояние в любое заданное время
с помощью метода <tt class="docutils literal"><code><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Stopwatch/Stopwatch.html#method_reset" title="Symfony\Component\Stopwatch\Stopwatch::reset()">reset()</a></code></tt>,
который удаляет все данные, замерянные до этого времени.</p>
<p>Вы можете также предоставить имя категории события:</p>
<div class="literal-block"><div class="highlight-php"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">start</span><span class="p">(</span><span class="s1">&#39;eventName&#39;</span><span class="p">,</span> <span class="s1">&#39;categoryName&#39;</span><span class="p">);</span>
</pre></div>
</td></tr></table></div></div>
<p>Вы можете рассмотривать категории, как способ тегирования событий. Например,
инструмент Профилировщик Symfony использует категории, чтобы красиво маркировать
цветом разные события.</p>
</div>
<div class="section" id="id3">
<h2>Периоды<a class="headerlink" href="#id3" title="Permalink to this headline">¶</a></h2>
<p>Как вы знаете из настоящего мира, все секундомеры имеют две кнопки: одна
для запуска и остановки секундомера, а вторая - для замера одного круга.
Это именно то, что делает метод <tt class="docutils literal"><code><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Stopwatch/Stopwatch.html#method_lap" title="Symfony\Component\Stopwatch\Stopwatch::lap()">lap()</a></code></tt>:</p>
<div class="literal-block"><div class="highlight-php"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2
3
4
5
6
7
8
9</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="nv">$stopwatch</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Stopwatch</span><span class="p">();</span>
<span class="c1">// начинает событие &#39;foo&#39;</span>
<span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">start</span><span class="p">(</span><span class="s1">&#39;foo&#39;</span><span class="p">);</span>
<span class="c1">// ... здесь будет какой-то код</span>
<span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">lap</span><span class="p">(</span><span class="s1">&#39;foo&#39;</span><span class="p">);</span>
<span class="c1">// ... здесь будет какой-то код</span>
<span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">lap</span><span class="p">(</span><span class="s1">&#39;foo&#39;</span><span class="p">);</span>
<span class="c1">// ... здесь будет какой-то код</span>
<span class="nv">$event</span> <span class="o">=</span> <span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">stop</span><span class="p">(</span><span class="s1">&#39;foo&#39;</span><span class="p">);</span>
</pre></div>
</td></tr></table></div></div>
<p>Информация о круге хранится в виде &quot;периодов&quot; в рамках события. Чтобы получить
информацию о круге, вызовите:</p>
<div class="literal-block"><div class="highlight-php"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getPeriods</span><span class="p">();</span>
</pre></div>
</td></tr></table></div></div>
<p>В дополнение к периодам вы можете получить другую полезную информацию из объекта
события. Например:</p>
<div class="literal-block"><div class="highlight-php"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2
3
4
5
6
7</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getCategory</span><span class="p">();</span>   <span class="c1">// возвращает категорию, в которой было начато событие</span>
<span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getOrigin</span><span class="p">();</span>     <span class="c1">// возвращает время начала события в милисекундах</span>
<span class="nv">$event</span><span class="o">-&gt;</span><span class="na">ensureStopped</span><span class="p">();</span> <span class="c1">// останаливает все ещё не остановленные периоды</span>
<span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getStartTime</span><span class="p">();</span>  <span class="c1">// возвращает время начала самого первого периода</span>
<span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getEndTime</span><span class="p">();</span>    <span class="c1">// возвращает время конца самого последнего периода</span>
<span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getDuration</span><span class="p">();</span>   <span class="c1">// возвращает длительность события, включая все периоды</span>
<span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getMemory</span><span class="p">();</span>     <span class="c1">// возвращает максимальное использование памяти всех периодов</span>
</pre></div>
</td></tr></table></div></div>
</div>
<div class="section" id="id4">
<h2>Разделы<a class="headerlink" href="#id4" title="Permalink to this headline">¶</a></h2>
<p>Разделы - это способ логично разделить хронологию на группы. Вы можете увидеть,
как Symfony использует разделы, чтобы красиво визуализировать жизненный цикл
фреймворка в инструменте Профилировщик Symfony. Вот базовый пример использования
разделов:</p>
<div class="literal-block"><div class="highlight-php"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2
3
4
5
6
7</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="nv">$stopwatch</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Stopwatch</span><span class="p">();</span>

<span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">openSection</span><span class="p">();</span>
<span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">start</span><span class="p">(</span><span class="s1">&#39;parsing_config_file&#39;</span><span class="p">,</span> <span class="s1">&#39;filesystem_operations&#39;</span><span class="p">);</span>
<span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">stopSection</span><span class="p">(</span><span class="s1">&#39;routing&#39;</span><span class="p">);</span>

<span class="nv">$events</span> <span class="o">=</span> <span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">getSectionEvents</span><span class="p">(</span><span class="s1">&#39;routing&#39;</span><span class="p">);</span>
</pre></div>
</td></tr></table></div></div>
<p>Вы можете повторно открыть закрытый раздел, вызывав метод
<tt class="docutils literal"><code><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Stopwatch/Stopwatch.html#method_openSection" title="Symfony\Component\Stopwatch\Stopwatch::openSection()">openSection()</a></code></tt> и
указав id раздела, который стоит открыть повторно:</p>
<div class="literal-block"><div class="highlight-php"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2
3</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">openSection</span><span class="p">(</span><span class="s1">&#39;routing&#39;</span><span class="p">);</span>
<span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">start</span><span class="p">(</span><span class="s1">&#39;building_config_tree&#39;</span><span class="p">);</span>
<span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">stopSection</span><span class="p">(</span><span class="s1">&#39;routing&#39;</span><span class="p">);</span>
</pre></div>
</td></tr></table></div></div>
</div>
</div>


            </div>

            
            <div class="navigation">
                <a href="serializer-ru.html">« Компонент Serializer</a>
                <span class="separator">|</span>
                <a href="templating-ru.html">Компонент Templating »</a>
            </div>
            

            <div id="license">
                <p>Эта документация является переводом <a href="http://symfony.com/doc/current/index.html">официальной документации Symfony</a> и предоставляется по свободной лицензии <a rel="license nofollow" href="https://creativecommons.org/licenses/by-sa/3.0/deed.ru">CC BY-SA 3.0</a>.</p>
            </div>
        </div>
    </div>
</div></div>


  </body>
</body></html>