<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    <title>Пулы кешей и поддерживаемые адаптеры &mdash; Symfony Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../../_static/" type="text/css">
    <link rel="stylesheet" href="..\..\_static\pygments.css" type="text/css">
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <link rel="top" title="Symfony Framework Documentation  documentation" href="..\..\index.html">
    <link rel="up" title="The Cache Component" href="..\cache.html">
    <link rel="next" title="Адаптер кеша PDO &amp; Doctrine DBAL" href="pdo_doctrine_dbal_adapter-ru.html">
    <link rel="prev" title="Адаптер кеша Redis" href="adapters/redis_adapter-ru.html">

<link rel="stylesheet" href="..\..\_assets\app.css?v=8d6d457a0820d7c245bddae16bfd4c75">
<script src="..\..\_assets\manifest.js?v=d41d8cd98f00b204e980"></script>
<script src="..\..\_assets\app.js?v=900984040c7cb4dca514"></script>
<style>
    .header__top .container {
        overflow: hidden;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .header__top .header__logo {
        float: left;
    }
    .header__top .header__support {
        float: right;
    }

    .highlight .k, .highlight .gh, .highlight .gp,
    .highlight .gu, .highlight .kc, .highlight .kd,
    .highlight .kn, .highlight .kr, .highlight .nc,
    .highlight .nd, .highlight .ni, .highlight .nl,
    .highlight .nn, .highlight .nt, .highlight .ow,
    .highlight .se { font-weight: normal; }

    .highlight .c, .highlight .cm, .highlight .c1,
    .highlight .sd, .highlight .si { font-style: normal; }

    .doc { background: none; }
    #demo-warning {
        border: 3px dashed #c00;
        padding: 10px;
        margin-bottom: 30px;
    }
    #demo-warning h4 { font-size: 1.7em;font-weight: bold; }
    #demo-warning p { margin-bottom: 0; }
</style>

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-107764519-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-107764519-1');
</script>

<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '250281335689441');
    fbq('track', 'PageView');
</script>
<img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=250281335689441&ev=PageView&noscript=1">
<!-- End Facebook Pixel Code -->

<script type="text/javascript">!function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src="https://vk.com/js/api/openapi.js?159",t.onload=function(){VK.Retargeting.Init("VK-RTRG-279161-8p6Jv"),VK.Retargeting.Hit()},document.head.appendChild(t)}();</script><img src="https://vk.com/rtrg?p=VK-RTRG-279161-8p6Jv" style="position:fixed; left:-999px;" alt="">


  </head>
  <body role="document">

<body class="components doc_article doc">

<header>
    <section class="header__top">
        <div class="container">
            <div class="header__logo">
                <a href="..\..\..\..\index.html">
                    <img src="..\..\..\..\_images\header-logo.svg" alt="Symfony.com.ua logo">
                </a>
            </div>
            <div class="header__support hidden-xs">
                <a href="http://playtini.ua/" title="Компания Playtini">
                    <img height="69" src="..\..\..\..\_images\support.png" alt="Symfony is a SensioLabs product">
                </a>
            </div>
        </div>
    </section>
</header>

<div class="container"><div id="page-content">
    <div class="row">
        <div id="sidebar" class="col-sm-3">
            <div id="sidebar-content"><div class="submenu">
    
    
    <ul class="list_submenu list-unstyled">
    
        <li class="first">
            <a href="..\..\index.html">Главная</a>
        </li>
    
        <li>
            <a href="..\index.html">Компоненты</a>
        </li>
    
        <li>
            <a href="..\..\best_practices\index.html">Лучшие практики</a>
        </li>
    
        <li>
            <a href="..\..\quick_tour\index.html">Быстрый старт</a>
        </li>
    
        <li>
            <a href="..\..\reference\index.html">Справочник</a>
        </li>
    
        <li>
            <a href="..\..\genindex.html">Индекс</a>
        </li>
    
        <li>
            <a href="..\..\contributing\index.html">Участие</a>
        </li>
    
    </ul>
</div>

                <div class="toc"> 
    <h4>Содержание</h4>
    <div class="toc-content">
        <ul>
<li><a class="reference internal" href="#">Пулы кешей и поддерживаемые адаптеры</a><ul>
<li><a class="reference internal" href="#component-cache-creating-cache-pools">Создание пулов кеша</a></li>
<li><a class="reference internal" href="#id3">Поиск объектов кеша</a></li>
<li><a class="reference internal" href="#id4">Сохранение объектов кеша</a></li>
<li><a class="reference internal" href="#id5">Удаление объектов кеша</a></li>
<li><a class="reference internal" href="#component-cache-cache-pool-prune">Отсечение объектов кеша</a></li>
</ul>
</li>
</ul>

    </div>
</div>
                
            </div>

            <div class="ads m-b-30">
                <h2>Вакансии Playtini</h2>
                <div class="ad m-b-15">
                    <h3>
                        <a href="http://playtini.ua/careers/php-dev">
                            Middle+ PHP Developer/Symfony
                        </a>
                    </h3>
                    <div><b>Playtini</b> активно поддерживает и развивает свои продукты, и профессионализм команды. И на данный момент в поиске специалиста на позицию <b>«Middle+ PHP Developer/Symfony»,</b> который улучшит качество внутренних сервисов компании и увеличит их количество.</div>
                </div>
                <!--
                <div class="ad m-b-15">
                    <h3>
                        <a href="http://playtini.ua/careers/symfony-senior">
                            Senior PHP Developer/Symfony
                        </a>
                    </h3>
                    <div>We are looking for strong, experienced <b>Senior PHP Developer/Symfony.</b> We expect him/her to participate in improving and extending a system built using microservice architecture by means of modern technologies.</div>
                </div>
                -->
                <div class="ad">
                    <h3><a href="http://playtini.ua/careers">
                        Остальные вакансии компании
                        <img src="..\..\..\..\_images\logo-playtini.png" alt="Playtini">
                    </a></h3>
                </div>
            </div>
        </div>

        <div id="main" class="col-sm-9">
            <ol class="breadcrumb">
                
                <li><a href="..\..\index.html">Документация</a></li>
                
                <li><a href="..\index.html">The Components</a></li>
                
                <li><a href="..\cache.html">The Cache Component</a></li>
                
                <li class="active">Пулы кешей и поддерживаемые адаптеры</li>
            </ol>

            <div class="page">
                
  <div class="section" id="component-cache-cache-pools">
<span id="index-0"></span><span id="id1"></span><h1>Пулы кешей и поддерживаемые адаптеры<a class="headerlink" href="#component-cache-cache-pools" title="Permalink to this headline">¶</a></h1>
<p>Пулы кешей это логичные хранилища кешированных объектов. Они проводят все
общие операции на объектах, вроде их сохранения или поиска. Пулы кешей не
зависят от самой реализации кеша. Следовательно, приложения могут продолжать
использовать один и тот же пул кеша, даже если основопоожный механизм кеша
меняется из кеша, основанного на файловой системе, на кеш, основанный на
Redis или БД.</p>
<div class="section" id="component-cache-creating-cache-pools">
<span id="id2"></span><h2>Создание пулов кеша<a class="headerlink" href="#component-cache-creating-cache-pools" title="Permalink to this headline">¶</a></h2>
<p>Пулы кеша создаются через <strong>адаптеры кеша</strong>, которые являются классами,
реализующими <tt class="docutils literal"><code><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Cache/Adapter/AdapterInterface.html" title="Symfony\Component\Cache\Adapter\AdapterInterface">AdapterInterface</a></code></tt>.
Этот компонент предоставляет несколько адаптеров, готовых к использованию в
ваших приложениях.</p>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="adapters\apcu_adapter.html">APCu Cache Adapter</a></li>
<li class="toctree-l1"><a class="reference internal" href="adapters/apcu_adapter-ru.html">Адаптер кеша APCu</a></li>
<li class="toctree-l1"><a class="reference internal" href="adapters\array_cache_adapter.html">Array Cache Adapter</a></li>
<li class="toctree-l1"><a class="reference internal" href="adapters/array_cache_adapter-ru.html">Адаптер массива кеша</a></li>
<li class="toctree-l1"><a class="reference internal" href="adapters\chain_adapter.html">Chain Cache Adapter</a></li>
<li class="toctree-l1"><a class="reference internal" href="adapters/chain_adapter-ru.html">Адаптер цепочки кеша</a></li>
<li class="toctree-l1"><a class="reference internal" href="adapters\doctrine_adapter.html">Doctrine Cache Adapter</a></li>
<li class="toctree-l1"><a class="reference internal" href="adapters/doctrine_adapter-ru.html">Адаптер кеша Doctrine</a></li>
<li class="toctree-l1"><a class="reference internal" href="adapters\filesystem_adapter.html">Filesystem Cache Adapter</a></li>
<li class="toctree-l1"><a class="reference internal" href="adapters/filesystem_adapter-ru.html">Адаптер кеша файловой системы</a></li>
<li class="toctree-l1"><a class="reference internal" href="adapters\memcached_adapter.html">Memcached Cache Adapter</a></li>
<li class="toctree-l1"><a class="reference internal" href="adapters/memcached_adapter-ru.html">Адаптер кеша Memcached</a></li>
<li class="toctree-l1"><a class="reference internal" href="adapters\pdo_doctrine_dbal_adapter.html">PDO &amp; Doctrine DBAL Cache Adapter</a></li>
<li class="toctree-l1"><a class="reference internal" href="adapters/pdo_doctrine_dbal_adapter-ru.html">Адаптер кеша PDO &amp; Doctrine DBAL</a></li>
<li class="toctree-l1"><a class="reference internal" href="adapters\php_array_cache_adapter.html">Php Array Cache Adapter</a></li>
<li class="toctree-l1"><a class="reference internal" href="adapters/php_array_cache_adapter-ru.html">Адаптер кеша Php массива</a></li>
<li class="toctree-l1"><a class="reference internal" href="adapters\php_files_adapter.html">Php Files Cache Adapter</a></li>
<li class="toctree-l1"><a class="reference internal" href="adapters/php_files_adapter-ru.html">Адаптер кеша PHP-файлов</a></li>
<li class="toctree-l1"><a class="reference internal" href="adapters\proxy_adapter.html">Proxy Cache Adapter</a></li>
<li class="toctree-l1"><a class="reference internal" href="adapters/proxy_adapter-ru.html">Адаптер кеша прокси</a></li>
<li class="toctree-l1"><a class="reference internal" href="adapters\redis_adapter.html">Redis Cache Adapter</a></li>
<li class="toctree-l1"><a class="reference internal" href="adapters/redis_adapter-ru.html">Адаптер кеша Redis</a></li>
</ul>
</div>
</div>
<div class="section" id="id3">
<h2>Поиск объектов кеша<a class="headerlink" href="#id3" title="Permalink to this headline">¶</a></h2>
<p>Пулы кеша определяют три метода поиска объектов кеша. Наиболее распространённым
методом является <tt class="docutils literal"><code>getItem($key)</code></tt>, который возвращает идентификатор объекта кеша
по заданному ключу:</p>
<div class="literal-block"><div class="highlight-php"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2
3
4</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="k">use</span> <span class="nx">Symfony\Component\Cache\Adapter\FilesystemAdapter</span><span class="p">;</span>

<span class="nv">$cache</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">FilesystemAdapter</span><span class="p">(</span><span class="s1">&#39;app.cache&#39;</span><span class="p">);</span>
<span class="nv">$latestNews</span> <span class="o">=</span> <span class="nv">$cache</span><span class="o">-&gt;</span><span class="na">getItem</span><span class="p">(</span><span class="s1">&#39;latest_news&#39;</span><span class="p">);</span>
</pre></div>
</td></tr></table></div></div>
<p>Если для заданного ключа не определено ни одного объекта, метод не возвращает
значение <tt class="docutils literal"><code>null</code></tt>, а возвращает пустой объект, реализующий класс
<tt class="docutils literal"><code><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Cache/CacheItem.html" title="Symfony\Component\Cache\CacheItem">CacheItem</a></code></tt>.</p>
<p>Если вам нужно извлечь несколько объектов кеша одновременно, то лучше
используйте метод <tt class="docutils literal"><code>getItems(array($key1, $key2, ...))</code></tt>:</p>
<div class="literal-block"><div class="highlight-php"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="c1">// ...</span>
<span class="nv">$stocks</span> <span class="o">=</span> <span class="nv">$cache</span><span class="o">-&gt;</span><span class="na">getItems</span><span class="p">(</span><span class="k">array</span><span class="p">(</span><span class="s1">&#39;AAPL&#39;</span><span class="p">,</span> <span class="s1">&#39;FB&#39;</span><span class="p">,</span> <span class="s1">&#39;GOOGL&#39;</span><span class="p">,</span> <span class="s1">&#39;MSFT&#39;</span><span class="p">));</span>
</pre></div>
</td></tr></table></div></div>
<p>Опять же, если ни один из ключей не представляет валидный объект кеша, вы не
получите значение <tt class="docutils literal"><code>null</code></tt>,а получите пустой объект <tt class="docutils literal"><code>CacheItem</code></tt>.</p>
<p>Последний метод, связанный с извлечением объектов кеша, является <tt class="docutils literal"><code>hasItem($key)</code></tt>,
который возвращает <tt class="docutils literal"><code>true</code></tt>, если существует объект кеша, идентифицироанный
заданным ключом:</p>
<div class="literal-block"><div class="highlight-php"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="c1">// ...</span>
<span class="nv">$hasBadges</span> <span class="o">=</span> <span class="nv">$cache</span><span class="o">-&gt;</span><span class="na">hasItem</span><span class="p">(</span><span class="s1">&#39;user_&#39;</span><span class="o">.</span><span class="nv">$userId</span><span class="o">.</span><span class="s1">&#39;_badges&#39;</span><span class="p">);</span>
</pre></div>
</td></tr></table></div></div>
</div>
<div class="section" id="id4">
<h2>Сохранение объектов кеша<a class="headerlink" href="#id4" title="Permalink to this headline">¶</a></h2>
<p>Наиболее распространённым методом для сохранения объектов кеша является
<tt class="docutils literal"><code>Psr\\Cache\\CacheItemPoolInterface::save</code></tt>, который сохраняет объект в кеше
незамедлительно (возвращает <tt class="docutils literal"><code>true</code></tt>, если объект был сохранён, или <tt class="docutils literal"><code>false</code></tt>,
если произошла какая-то ошибка):</p>
<div class="literal-block"><div class="highlight-php"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2
3
4</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="c1">// ...</span>
<span class="nv">$userFriends</span> <span class="o">=</span> <span class="nv">$cache</span><span class="o">-&gt;</span><span class="na">getItem</span><span class="p">(</span><span class="s1">&#39;user_&#39;</span><span class="o">.</span><span class="nv">$userId</span><span class="o">.</span><span class="s1">&#39;_friends&#39;</span><span class="p">);</span>
<span class="nv">$userFriends</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="nv">$user</span><span class="o">-&gt;</span><span class="na">getFriends</span><span class="p">());</span>
<span class="nv">$isSaved</span> <span class="o">=</span> <span class="nv">$cache</span><span class="o">-&gt;</span><span class="na">save</span><span class="p">(</span><span class="nv">$userFriends</span><span class="p">);</span>
</pre></div>
</td></tr></table></div></div>
<p>Иногда вам может захотеться не сохранять объекты немедленно, чтобы повысить
производительность вашего приложения. В таких случаях, используйте метод
<tt class="docutils literal"><code>Psr\\Cache\\CacheItemPoolInterface::saveDeferred</code></tt>, чтобы отметить объекты
кеша, как &quot;готовые к сохранению&quot; и потом вызовите метод
<tt class="docutils literal"><code>Psr\\ache\\CacheItemPoolInterface::commit</code></tt>, когда вы будете готовы сохранить
их все:</p>
<div class="literal-block"><div class="highlight-php"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2
3
4
5
6
7
8</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="c1">// ...</span>
<span class="nv">$isQueued</span> <span class="o">=</span> <span class="nv">$cache</span><span class="o">-&gt;</span><span class="na">saveDeferred</span><span class="p">(</span><span class="nv">$userFriends</span><span class="p">);</span>
<span class="c1">// ...</span>
<span class="nv">$isQueued</span> <span class="o">=</span> <span class="nv">$cache</span><span class="o">-&gt;</span><span class="na">saveDeferred</span><span class="p">(</span><span class="nv">$userPreferences</span><span class="p">);</span>
<span class="c1">// ...</span>
<span class="nv">$isQueued</span> <span class="o">=</span> <span class="nv">$cache</span><span class="o">-&gt;</span><span class="na">saveDeferred</span><span class="p">(</span><span class="nv">$userRecentProducts</span><span class="p">);</span>
<span class="c1">// ...</span>
<span class="nv">$isSaved</span> <span class="o">=</span> <span class="nv">$cache</span><span class="o">-&gt;</span><span class="na">commit</span><span class="p">();</span>
</pre></div>
</td></tr></table></div></div>
<p>Метод <tt class="docutils literal"><code>saveDeferred()</code></tt> возвращает <tt class="docutils literal"><code>true</code></tt>, когда объект кеша был успешно добавлен
в &quot;очередь сохранения&quot;, и <tt class="docutils literal"><code>false</code></tt> в других случаях. Метод <tt class="docutils literal"><code>commit()</code></tt> возвращает
<tt class="docutils literal"><code>true</code></tt>, когда все ожидающие объекты были успешно сохранены, и <tt class="docutils literal"><code>false</code></tt> в других
случаях.</p>
</div>
<div class="section" id="id5">
<h2>Удаление объектов кеша<a class="headerlink" href="#id5" title="Permalink to this headline">¶</a></h2>
<p>Пулы кеша включают методы для удаления объекта кеша, некоторых из них, или всех.
Наиболее распространённым является <tt class="docutils literal"><code>Psr\\Cache\\CacheItemPoolInterface::deleteItem</code></tt>,
который удаляет объект кеша, определяемый заданным ключом (возвращает <tt class="docutils literal"><code>true</code></tt>,
когда объект был успешно удалён или не существует, и <tt class="docutils literal"><code>false</code></tt> в других случаях):</p>
<div class="literal-block"><div class="highlight-php"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="c1">// ...</span>
<span class="nv">$isDeleted</span> <span class="o">=</span> <span class="nv">$cache</span><span class="o">-&gt;</span><span class="na">deleteItem</span><span class="p">(</span><span class="s1">&#39;user_&#39;</span><span class="o">.</span><span class="nv">$userId</span><span class="p">);</span>
</pre></div>
</td></tr></table></div></div>
<p>Используйте метод <tt class="docutils literal"><code>Psr\\Cache\\CacheItemPoolInterface::deleteItems</code></tt>, чтобы
удалять несколько объектов кеша одновременно (возвращает <tt class="docutils literal"><code>true</code></tt> только, если
все объекты были удалены, даже если один или несколько из них не существуют):</p>
<div class="literal-block"><div class="highlight-php"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="c1">// ...</span>
<span class="nv">$areDeleted</span> <span class="o">=</span> <span class="nv">$cache</span><span class="o">-&gt;</span><span class="na">deleteItems</span><span class="p">(</span><span class="k">array</span><span class="p">(</span><span class="s1">&#39;category1&#39;</span><span class="p">,</span> <span class="s1">&#39;category2&#39;</span><span class="p">));</span>
</pre></div>
</td></tr></table></div></div>
<p>Наконец, чтобы удалить все объекты кеша, хранящиеся в пуле, используйте метод
<tt class="docutils literal"><code>Psr\\Cache\\CacheItemPoolInterface::clear</code></tt> (который возвращает <tt class="docutils literal"><code>true</code></tt>,
когда все объекты были успешно удалены):</p>
<div class="literal-block"><div class="highlight-php"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="c1">// ...</span>
<span class="nv">$cacheIsEmpty</span> <span class="o">=</span> <span class="nv">$cache</span><span class="o">-&gt;</span><span class="na">clear</span><span class="p">();</span>
</pre></div>
</td></tr></table></div></div>
<div class="admonition-wrapper">
<div class="tip"></div><div class="admonition admonition-tip"><p class="first admonition-title">Tip</p>
<p>Если компонент кеша используется внутри приложения Symfony, вы можете
удалить объекты из пулов кеша, используя следующий команды (которые находятся
в рамках <a class="reference internal" href="..\..\reference\configuration\framework.html#framework-bundle-configuration"><span>пакета framework</span></a>):</p>
<p>Для того, чтобы удалить <em>один конкретный объект</em> из <em>заданного пула</em>:</p>
<div class="literal-block"><div class="highlight-terminal"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2
3
4</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="gp">$</span> php bin/console cache:pool:delete &lt;cache-pool-name&gt; &lt;cache-key-name&gt;

<span class="c1"># deletes the &quot;cache_key&quot; item from the &quot;cache.app&quot; pool</span>
<span class="gp">$</span> php bin/console cache:pool:delete cache.app cache_key
</pre></div>
</td></tr></table></div></div>
<p>Вы также можете удалить <em>все объекты</em> из <em>заданного пула(ов)</em>:</p>
<div class="literal-block"><div class="last highlight-terminal"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2
3
4
5
6
7</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="gp">$</span> php bin/console cache:pool:clear &lt;cache-pool-name&gt;

<span class="c1"># очищает пул &quot;cache.app&quot;</span>
<span class="gp">$</span> php bin/console cache:pool:clear cache.app

<span class="c1"># очищает пул &quot;cache.validation&quot; и &quot;cache.app&quot;</span>
<span class="gp">$</span> php bin/console cache:pool:clear cache.validation cache.app
</pre></div>
</td></tr></table></div></div>
</div></div>
<div class="versionadded">
<p><span class="versionmodified">New in version 4.1: </span>Команда <tt class="docutils literal"><code>cache:pool:delete</code></tt> была представлена в Symfony 4.1.</p>
</div>
</div>
<div class="section" id="component-cache-cache-pool-prune">
<span id="id6"></span><h2>Отсечение объектов кеша<a class="headerlink" href="#component-cache-cache-pool-prune" title="Permalink to this headline">¶</a></h2>
<p>Некоторые пулы кеша не включают в себя автоматизированный механизм для отсечения просроченных
объектов кеша. Например, кеш <a class="reference internal" href="adapters/filesystem_adapter-ru.html#component-cache-filesystem-adapter"><span>FilesystemAdapter</span></a> не
удаляет просроченные объекты кеша <em>пока объект не будет ясно запрошен и определён, как испорченный</em>,
например, через вызов к <tt class="docutils literal"><code>Psr\\Cache\\CacheItemPoolInterface::getItem</code></tt>. При определённой
нагрузке, это может привести к сохранению устарелых записей кеша после срока истечения их
действия, что, в свою очередь, приведёт к ощутимому потреблению зря потраченного пространства
на диске или памяти в связи с излишними просроченными объектами кеша.</p>
<p>Этот недостаток был решён путём введения
<tt class="docutils literal"><code><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Cache/PruneableInterface.html" title="Symfony\Component\Cache\PruneableInterface">PruneableInterface</a></code></tt>, который определяет
абстрактный метод
<tt class="docutils literal"><code><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Cache/PruneableInterface.html#method_prune" title="Symfony\Component\Cache\PruneableInterface::prune()">prune()</a></code></tt>.
<a class="reference internal" href="adapters/chain_adapter-ru.html#component-cache-chain-adapter"><span>ChainAdapter</span></a>,
<a class="reference internal" href="adapters/filesystem_adapter-ru.html#component-cache-filesystem-adapter"><span>FilesystemAdapter</span></a>,
<a class="reference internal" href="pdo_doctrine_dbal_adapter-ru.html#pdo-doctrine-adapter"><span>PdoAdapter</span></a>, и
<a class="reference internal" href="adapters/php_files_adapter-ru.html#component-cache-files-adapter"><span>PhpFilesAdapter</span></a> - все реализуют этот
новый интерфейс, позволяя ручное удаление устаревших объектов кеша:</p>
<div class="literal-block"><div class="highlight-php"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2
3
4
5</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="k">use</span> <span class="nx">Symfony\Component\Cache\Adapter\FilesystemAdapter</span><span class="p">;</span>

<span class="nv">$cache</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">FilesystemAdapter</span><span class="p">(</span><span class="s1">&#39;app.cache&#39;</span><span class="p">);</span>
<span class="c1">// ... провести какие-то операции set и get</span>
<span class="nv">$cache</span><span class="o">-&gt;</span><span class="na">prune</span><span class="p">();</span>
</pre></div>
</td></tr></table></div></div>
<p>Релизация <a class="reference internal" href="adapters/chain_adapter-ru.html#component-cache-chain-adapter"><span>ChainAdapter</span></a> не содержит напрямую какой-либо
логики усечения. Вместо этого, при вызове метода цепи адаптеров
<tt class="docutils literal"><code><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Cache/ChainAdapter.html#method_prune" title="Symfony\Component\Cache\ChainAdapter::prune()">prune()</a></code></tt>, вызов делегируется всем
совместимым с ним адаптерам кеша (а те, которые не реализуют <tt class="docutils literal"><code>PruneableInterface</code></tt>,
тихо игнорируются):</p>
<div class="literal-block"><div class="highlight-php"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="k">use</span> <span class="nx">Symfony\Component\Cache\Adapter\ApcuAdapter</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Cache\Adapter\ChainAdapter</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Cache\Adapter\FilesystemAdapter</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Cache\Adapter\PdoAdapter</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Cache\Adapter\PhpFilesAdapter</span><span class="p">;</span>

<span class="nv">$cache</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">ChainAdapter</span><span class="p">(</span><span class="k">array</span><span class="p">(</span>
    <span class="k">new</span> <span class="nx">ApcuAdapter</span><span class="p">(),</span>       <span class="c1">// does NOT implement PruneableInterface</span>
    <span class="k">new</span> <span class="nx">FilesystemAdapter</span><span class="p">(),</span> <span class="c1">// DOES implement PruneableInterface</span>
    <span class="k">new</span> <span class="nx">PdoAdapter</span><span class="p">(),</span>        <span class="c1">// DOES implement PruneableInterface</span>
    <span class="k">new</span> <span class="nx">PhpFilesAdapter</span><span class="p">(),</span>   <span class="c1">// DOES implement PruneableInterface</span>
    <span class="c1">// ...</span>
<span class="p">));</span>

<span class="c1">// prune will proxy the call to PdoAdapter, FilesystemAdapter and PhpFilesAdapter,</span>
<span class="c1">// while silently skipping ApcuAdapter</span>
<span class="nv">$cache</span><span class="o">-&gt;</span><span class="na">prune</span><span class="p">();</span>
</pre></div>
</td></tr></table></div></div>
<div class="admonition-wrapper">
<div class="tip"></div><div class="admonition admonition-tip"><p class="first admonition-title">Tip</p>
<p>Если компонент кеша использовуется внутри приложения Symfony, то вы можете
отсечь <em>все объекты</em> из <em>всех пулов</em>, используя следующую команду (которая
находится в <a class="reference internal" href="..\..\reference\configuration\framework.html#framework-bundle-configuration"><span>пакете framework</span></a>):</p>
<div class="literal-block"><div class="last highlight-terminal"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="gp">$</span> php bin/console cache:pool:prune
</pre></div>
</td></tr></table></div></div>
</div></div>
</div>
</div>


            </div>

            
            <div class="navigation">
                <a href="adapters/redis_adapter-ru.html">« Адаптер кеша Redis</a>
                <span class="separator">|</span>
                <a href="pdo_doctrine_dbal_adapter-ru.html">Адаптер кеша PDO &amp; Doctrine DBAL »</a>
            </div>
            

            <div id="license">
                <p>Эта документация является переводом <a href="http://symfony.com/doc/current/index.html">официальной документации Symfony</a> и предоставляется по свободной лицензии <a rel="license nofollow" href="https://creativecommons.org/licenses/by-sa/3.0/deed.ru">CC BY-SA 3.0</a>.</p>
            </div>
        </div>
    </div>
</div></div>


  </body>
</body></html>